.left-panel {
    flex: 1;
    padding: 10px;
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    margin-right: 10px;
  }
  
  .left-panel h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  